<div ng-controller="chatCtrl">

<!--
    <md-sidenav md-is-locked-open="true">
    <p>hi</p>
    
    </md-sidenav>
-->
    
    <md-toolbar layout="row" class="layout-row content-toolbar">
        
        <div flex="45" style="display: flex">
            <div class="md-user-thumbs">
                <div style="background-image:url({{selected.profile_picture}})"></div>
            </div>
            <div layout="column" style="padding-top: 15px">
                {{selected.first_name + ' ' + selected.last_name}}
                <h5 flex ng-if="checkPresence(selected)" class="time-font" style="margin: 0; color: #999">Available</h5>
<!--                <h5 flex ng-if="!checkPresence(selected)" class="time-font" style="margin: 0; color: #999">Unavailable</h5>-->
            </div>
            
        </div>
    </md-toolbar>
    
    <md-content id="content" flex class="flex">
       

        <div class="bottom-margin">
            
            <div ng-repeat="message in messages track by $index">
                <div ng-if="message.payload.me == userSelected.first_name" style="padding-bottom:10px;">
                    <div layout="row">
                        <div flex="5" style="padding-top: 25px">
                            <div class="md-recent-thumbs">
                                <div style="background-image:url({{selected.profile_picture}})"></div>
                            </div>
                        </div>

                        <div flex="80">

                                <span class="bold">{{message.me}}</span>
                                <span class="bold" ng-if="! message.me">{{message.payload.me}}</span>
                                <span class="time-font">{{message.payload["sent-time"] | date:'MMM-dd h:mma'}}</span>
                            <md-card class="msg-box" style="background: #80CBC4">

        <!--                        <div class="" id="msg-pane" style="background-image: url({{selected.profile_picture}})"></div>-->


                                <p class="msg-text">{{message.text}}</p>
                                <p class="msg-text" ng-if="! message.text">{{message.payload.text}}</p>
                            </md-card> 
                        </div>
                    </div>
                </div>
                
                <div ng-if="message.payload.me != userSelected.first_name" style="padding-bottom: 10px">
                    <div layout="row">
                        
                        <div flex="80">

                            <div class="text-right">
                                <span class="bold">{{message.me}}</span>
                                <span class="bold" ng-if="! message.me">{{message.payload.me}}</span>
                                <span class="time-font">{{message.payload["sent-time"] | date:'MMM-dd h:mma'}}</span>
                            </div>
                                
                            <md-card class="msg-box" style="background: #B2DFDB">
                                <p class="msg-text">{{message.text}}</p>
                                <p class="msg-text" ng-if="! message.text">{{message.payload.text}}</p>
                            </md-card> 
                        </div>
                        
                        <div flex="5" style="padding-top: 25px">
                            <div class="md-chat-thumbs">
                                <div style="background-image:url({{sampUser.profile_picture}}); "></div>
                            </div>
                        </div>

                        
                    </div>
                </div>
                
            </div>
            
            
        </div>

        <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
            <div layout="row" layout-align="center center" style="padding-bottom: 30px;">
                <div flex-offset="25" flex="60">
                    <form ng-submit="publish()">
                        <div layout="row">
                            <div flex="70">
                                <md-input-container class="md-block">
                                    <input type="text" ng-model="newMessage">
                                </md-input-container>
                            </div>
                            <div flex="20">
                                <md-input-container class="md-block">
                                    <md-button type="submit" class="md-raised edge-padding md-primary">
                                        Send 
                                    </md-button>
                                </md-input-container>
                            </div>
                        </div>
                        
                        
                    </form>
                </div>
                
            </div>
        </md-bottom-sheet>
        
    </md-content>
    
    
    

</div>
