<div ng-controller="chatCtrl">

    <div layout="row">
    

        <div class="msg-container">
            <span class="sub-head">Conversation</span>
            
            <md-divider></md-divider>
            <div class="container-overflow" scrollBottom>
                <div layout="row" ng-repeat="message in messages track by $index">
                    <div flex="100">
                        
                        <div ng-if="message.payload.me == userSelected.first_name">
                            
                            <md-card class="msg-box" style="background: #B0BEC5;">
                                <span class="bold">{{message.me}}</span>
                                <span class="bold" ng-if="! message.me" style="color:#006064">
                                    {{message.payload.me}}
                                    <span class="msg-text">{{message.payload["sent-time"] | date:'MMM-dd h:mma'}}</span>
                                </span>

                            <!--            <md-icon id="msg-pane" md-svg-src="{{ul.selected.thumb}}" class="avatar"></md-icon>-->
                        <!--                <div class="avatar" id="msg-pane" style="background-image: url({{ul.selected.thumb}})"></div>-->

                                <p class="msg-text">{{message.text}}</p>
                                <p class="msg-text" ng-if="! message.text">{{message.payload.text}}</p>
                            </md-card> 
                         </div>
                        
                         <div ng-if="message.payload.me != userSelected.first_name">
                            
                            <md-card class="msg-box" style="background: #f0f0f0">
                                
                                <span class="bold">{{message.me}}</span>
                                <span class="bold" ng-if="! message.me" style="color:#006064">
                                    {{message.payload.me}} 
                                    <span class="msg-text">{{message.payload["sent-time"] | date:'MMM-dd h:mma'}}</span>
                                </span>
                                

                            <!--            <md-icon id="msg-pane" md-svg-src="{{ul.selected.thumb}}" class="avatar"></md-icon>-->
                        <!--                <div class="avatar" id="msg-pane" style="background-image: url({{ul.selected.thumb}})"></div>-->

                                <p class="msg-text">{{message.text}}</p>
                                <p class="msg-text" ng-if="! message.text">{{message.payload.text}}</p>
                            </md-card> 
                         </div>
                        
                    </div>
                    
<!--
                    <div flex="70" ng-if="message.payload.me != userSelected.first_name">
                        
                        <div>
                            <span class="bold">{{message.me}}</span>
                            <span class="bold" ng-if="! message.me" style="color:#4DB6AC">{{message.payload.me}}</span>
                            <span>{{message.payload["sent-time"] | date:'MMM-dd h:mma'}}</span>

                            <md-card class="msg-box" style="background: #006064; color: #fff; ">

                                <p class="msg-text">{{message.text}}</p>
                                <p class="msg-text" ng-if="! message.text">{{message.payload.text}}</p>
                            </md-card> 
                        </div>
                                                
                    </div>
-->
                </div>
            </div>
            
            <div layout="column" md-inline-form ng-cloak>
                <md-content layout-padding>
                    <div>
                        <form ng-submit="publish()">
                            <div layout-gt-sm="row">
                                <md-input-container class="md-block" flex-gt-sm>
                                    <input type="text" ng-model="newMessage">
                                </md-input-container>
                                <md-button class="md-raised md-warn" style="height: 36px; margin-bottom: 0; margin-top: 12px">Send</md-button>
                            </div>
                        </form>
                    </div>
                </md-content>
            </div>
<!--
            <div layout-gt-sm="row" layout-align="center center">
                    <form ng-submit="publish()">
                        <md-input-container class="md-block">
                            <input type="text" ng-model="newMessage">
                        </md-input-container>
                        <md-input-container>
                            <md-button class="md-raised md-warn">Send</md-button>
                        </md-input-container>
                    </form>
                </div>
-->
            
        </div>
        
    </div>
    
    

</div>
