

        <md-content layout="row" flex="flex">
            <div flex='80'>
                
                <md-menu>
                    <md-button class="md-primary md-raised edgePadding" ng-click="$mdOpenMenu()">
                        <span md-menu-origin>Select User</span>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="c in content" >
                            <md-button ng-click="selectClient(c)">
                                <span md-menu-align-target>{{c.first_name}}</span>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
                <md-menu>
                    <md-button class="md-primary md-raised edgePadding" ng-click="$mdOpenMenu()">ONLINE</md-button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button ng-click="online('all')">All</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="online('online')">Online</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Offline</md-button>
                        </md-menu-item>
<!--
                        <md-menu-item>
                            <md-button>Unavailabe</md-button>
                        </md-menu-item>
-->
                    </md-menu-content>
                </md-menu>
                
                <md-menu>
                    <md-button class="md-primary md-raised edgePadding" ng-click="$mdOpenMenu()">ORGANISATION</md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="c in content" >
                            <md-button>{{c.company}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                
            </div>
        </md-content>


    <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
        <md-table head="headers" data="content" sort="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count" thumbs="thumbs"></md-table>
    </md-content>

    <div id="md-table-template" ng-hide="true">

        <table md-colresize="md-colresize" class="md-table">
            <thead>
            <tr class="">
                <th ng-repeat="h in headers" class="md-table-header">
                    <a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">{{h.name}}
                        <i ng-show="reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropup"></i>
                        <i ng-show="!reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropdown"></i>
                    </a>
                    <span ng-if="!handleSort(h.field)">{{h.name}}</span>
                </th>
                <th class="md-table-header"></th>
            </tr>
            </thead>
            <tbody id="contact-table">

              <tr ng-repeat="c in content | filter:filters | limitTo: count" class="md-table-content-row">
                  
                <td class="md-table-content">
                  <div ng-repeat="h in headers" ng-if="h.field == thumbs" class="md-table-thumbs">
                    <div style="background-image:url({{c.profile_picture}})"></div>
                  </div>
                </td>
                <td ng-repeat="h in headers" ng-class="customClass[h.field]" ng-if="h.field != thumbs" class="md-table-content" ng-click="userListChat(c)">
                    {{(h.field.indexOf('date') > 0) ? $filter('date')(c[h.field]) : c[h.field];}}
                </td>
<!--
                <td class="md-table-td-more">
                  <md-button aria-label="Info"><i class="ion-android-more-vertical"></i></md-button>
                </td>
-->
              </tr>
            </tbody>
        </table>
<!--
        <div layout="row" class="md-table-footer"><span class="md-table-count-info">Rows per page : <a href="#" ng-click="goToPage(0); count=10">10</a>,<a href="#" ng-click="goToPage(0); count=25">25</a>,<a href="#" ng-click="goToPage(0); count=50">50</a>,<a href="#" ng-click="goToPage(0); count=100">100</a>(current is {{count}})</span><span flex="flex"></span><span ng-show="nbOfPages() &gt; 1">
            <md-button ng-disabled="tablePage==0" ng-click="tablePage=tablePage-1" aria-label="Previous Page" class="md-primary md-hue-2"><i style="font-size:16px;" class="ion-chevron-left"></i></md-button><a href="#" ng-repeat="i in getNumber(nbOfPages()) track by $index">
            <md-button ng-click="goToPage($index)" class="md-primary md-hue-2 md-table-footer-item"><span ng-class="{ 'md-table-active-page': tablePage==$index}">{{$index+1}}</span></md-button></a>
            <md-button ng-disabled="tablePage==nbOfPages()-1" ng-click="tablePage=tablePage+1" aria-label="Next Page" class="md-primary md-hue-2"><i style="font-size:16px;" class="ion-chevron-right"></i></md-button></span>
        </div>
-->
    </div>