<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BizChat</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="style/app.css">
</head>

<body ng-app="BizChat" layout="column" ng-controller="UserController as ul"> 
    
    <md-toolbar layout="row" class="layout-row md-primary">
        <h3>Bizchat</h3>
    </md-toolbar>
    
    <div flex layout="row">
        
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2 md-primary">
<!--
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="u in ul.users">
                    <md-button  ng-click="ul.selectUser(u)" ng-class="{'selected': u === ul.selected}">
                        <md-icon md-svg-src="{{u.avatar}}" class="avatar"></md-icon>
                         {{u.name}}
                    </md-button>
                <md-divider ng-if="! $last"></md-divider>
                </md-list-item>
            </md-list>
-->
            <md-list  ng-controller="SideBarCtrl">
                <md-list-item id='list-item'>
                    <p><a href='index.html'>PEOPLE</a></p>
                </md-list-item>
                
                <md-list-item id='list-item'>
                    <p>GROUPS</p>
                </md-list-item>
                
                <md-list-item id='list-item'>
                    <p><a href="people.html">RECENT</a></p>
                    
                </md-list-item>
                
                <div>
                        <md-list class='recent-list' ng-repeat="u in ul.users">
                            <md-list-item ng-click="ul.selectUser(u)" ng-class="{'selected': u === ul.selected}">
                                <div class="md-recent-thumbs">
<!--                                    <div style="background-image:url({{u.avatar}})"></div>-->
                                    <md-icon md-svg-src="{{u.avatar}}" class="avatar"></md-icon>
                                </div>
                                
                                <div class="recent-list-name">{{u.name}}</div>
                                <span class="msg-alert">
                                    <span class="msg-num">{{u.alert}}</span>
                                </span>
                                
                            </md-list-item>
                        </md-list>
                        
                    </div>
                
            </md-list>
            
        </md-sidenav>
        
        <md-content flex id="content" class="flex" ng-controller="AppCtrl">
            
            <md-menu-bar>
                
                <md-menu>
                    <button class="md-primary" ng-click="$mdOpenMenu()"> All &gt</button>
                    <md-menu-content>
                        <md-menu-item>
                            <md-button>Available</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Unavailabe</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button>Busy</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            
                        
                <md-menu>
                    <button class="md-primary" ng-click="$mdOpenMenu()"> ORGANISATION &gt</button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="c in content" >
                            <md-button>{{c.company}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>

                </md-menu-bar>
                        
            
            <md-content layout="column" flex="flex" ng-click="toggleSearch=false">
                <md-table headers="headers" content="content" sortable="sortable" filters="search" custom-class="custom" thumbs="thumbs" count="count"></md-table>
            </md-content>
            
            <div id="md-table-template" ng-hide="true">
                <table md-colresize="md-colresize" class="md-table">
                    <thead>
                    <tr class="">
                        <th ng-repeat="h in headers" class="md-table-header">
                            <a href="#" ng-if="handleSort(h.field)" ng-click="reverse=!reverse;order(h.field,reverse)">{{h.name}}
                                <i ng-show="reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropup"></i>
                                <i ng-show="!reverse &amp;&amp; h.field == predicate" class="ion-android-arrow-dropdown"></i>
                            </a>
                            <span ng-if="!handleSort(h.field)">{{h.name}}</span>
                        </th>
                        <th class="md-table-header"></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="c in content | filter:filters | startFrom:tablePage*count | limitTo: count" class="md-table-content-row">
                        <td class="md-table-content">
                          <div ng-repeat="h in headers" ng-if="h.field == thumbs" class="md-table-thumbs">
                            <div style="background-image:url({{c.thumb}})"></div>
                          </div>
                        </td>
                        <td ng-repeat="h in headers" ng-class="customClass[h.field]" ng-if="h.field != thumbs" class="md-table-content">{{(h.field.indexOf('date') > 0) ? $filter('date')(c[h.field]) : c[h.field];}}</td>
<!--
                        <td class="md-table-td-more">
                          <md-button aria-label="Info"><i class="ion-android-more-vertical"></i></md-button>
                        </td>
-->
                      </tr>
                    </tbody>
                </table>
<!--
                <div layout="row" class="md-table-footer"><span class="md-table-count-info">Rows per page : <a href="#" ng-click="goToPage(0); count=10">10</a>,<a href="#" ng-click="goToPage(0); count=25">25</a>,<a href="#" ng-click="goToPage(0); count=50">50</a>,<a href="#" ng-click="goToPage(0); count=100">100</a>(current is {{count}})</span><span flex="flex"></span><span ng-show="nbOfPages() &gt; 1">
                    <md-button ng-disabled="tablePage==0" ng-click="tablePage=tablePage-1" aria-label="Previous Page" class="md-primary md-hue-2"><i style="font-size:16px;" class="ion-chevron-left"></i></md-button><a href="#" ng-repeat="i in getNumber(nbOfPages()) track by $index">
                    <md-button ng-click="goToPage($index)" class="md-primary md-hue-2 md-table-footer-item"><span ng-class="{ 'md-table-active-page': tablePage==$index}">{{$index+1}}</span></md-button></a>
                    <md-button ng-disabled="tablePage==nbOfPages()-1" ng-click="tablePage=tablePage+1" aria-label="Next Page" class="md-primary md-hue-2"><i style="font-size:16px;" class="ion-chevron-right"></i></md-button></span>
                </div>
-->
            </div>
            
<!--
            <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>
-->
            
<!--
            <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
                <div layout="row" layout-align="center center">
                    <md-input-container>
                        <textarea ng-model="user.description"></textarea>
                    </md-input-container>
                    <md-input-container>
                        <md-button ng-click="send()">SEND</md-button>
                    </md-input-container>
                </div>
            </md-bottom-sheet>
-->
        </md-content>
        
            
    </div>
    
    
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="scripts/Users.js"></script>
    <script src="scripts/UsersController.js"></script>
    <script src="scripts/UsersDataservice.js"></script>
    <script src="scripts/app.js"></script>
</body>    

</html>