<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BizChat</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="style/app.css">
</head>

<body ng-app="BizChat" layout="column" ng-controller="AppCtrl as ul"  ng-cloak> 
    
<!--
    <md-toolbar layout="row" class="layout-row md-primary">
        <div flex='85'>
            <h3>Bizchat</h3>
        </div>
        <div flex='15'>
            
            
            <md-menu>
                <md-button class="md-accent" ng-click="$mdOpenMenu()">
                    <md-icon md-svg-src="assets/svg/avatar-1.svg" class="avatar" id="msg-pane"></md-icon>
                    <span>{{sampUser.first_name + ' ' + sampUser.last_name}}</span>
                </md-button>
                
                <md-menu-content>
                    <md-menu-item>
                        <md-button>
                            Settings
                        </md-button>
                    </md-menu-item>
                    
                    <md-menu-item>
                        <md-button>
                            Logout
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
        
        
    </md-toolbar>
-->
    
    <div flex layout="row">
        
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2 md-primary">
<!--
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="u in ul.users">
                    <md-button  ng-click="ul.selectUser(u)" ng-class="{'selected': u === ul.selected}">
                        <md-icon md-svg-src="{{u.avatar}}" class="avatar"></md-icon>
                         {{u.name}}
                    </md-button>
                <md-divider ng-if="! $last"></md-divider>
                </md-list-item>
            </md-list>
-->
            
            
            
            <md-list>
                
                    <div class="sidenav-user">
                        <div class="md-user-thumbs">
                            <div style="background-image:url({{sampUser.profile_picture}})"></div>
                        </div>
                        <div class="sidenav-user-name">
                            {{sampUser.first_name + ' ' + sampUser.last_name}}
                            <span >
                                <h5 ng-if="checkPresence(sampUser)" class="sidenav-user-avail">Available</h5>
<!--                                <h5 flex ng-if="!checkPresence(selected)" class="time-font" style="margin: 0; color: #999">Unavailable</h5>-->
                            </span>

                        </div>

                    </div>
                
                    <a href="index.html#/contacts">
                        <md-list-item id='list-item'>
                            <ng-md-icon icon="perm_contact_cal" style="fill: #adcdef" size="24" class="ng-icon-top"></ng-md-icon>
                            <p> CONTACTS</p>
                        </md-list-item>
                    </a>
                    
                
                
<!--
                <a href="index.html#/rooms">
                    <md-list-item id='list-item'>
                        <p>GROUPS</p>
                    </md-list-item>
                </a>
-->
                    <div class="recent-container">
                        <ng-md-icon icon="schedule" style="fill: #adcdef" size="20" class="ng-icon-top"></ng-md-icon>
                        <h5 class="recent-heading">Recent</h5>
                    </div>
                    
                    <md-divider></md-divider>
                 
                
                <div>
                     
                    <md-list class='recent-list' ng-repeat="r in recents track by $index">
                        <a href="index.html#/chatroom">
                            <md-list-item ng-click="selectUser(r)" id="notifyRecentUser" ng-class="{'selected': r === ul.selected}">
                                <div class="md-recent-thumbs">
                                    <div style="background-image:url({{r.profile_picture}})"></div>
                                </div>

                                <div class="recent-list-name">{{r.first_name + ' ' + r.last_name}}</div>
<!--
                                <span class="msg-alert">
                                    <span class="msg-num">{{u.alert}}</span>
                                </span>
-->

                            </md-list-item>
                        </a>
                    </md-list>
                        
                </div>
    
            </md-list>
            
        </md-sidenav>
        
        <md-content layout="column" flex>
            
            <div ui-view></div>
      
            
<!--
            <md-icon md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{ul.selected.name}}</h2>
            <p>{{ul.selected.content}}</p>
-->
            
<!--
            <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
                <div layout="row" layout-align="center center">
                    <md-input-container>
                        <textarea ng-model="user.description"></textarea>
                    </md-input-container>
                    <md-input-container>
                        <md-button ng-click="send()">SEND</md-button>
                    </md-input-container>
                </div>
            </md-bottom-sheet>
-->
        </md-content>
        
            
    </div>
    
    
<!--
    <script src="https://cdn.pubnub.com/pubnub.min.js"></script>
    <script src="https://cdn.pubnub.com/pubnub-crypto.min.js"></script>
-->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/pubnub/web/pubnub.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
<!--    <script src="bower_components/angular-route/angular-route.min.js"></script>-->
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="http://pubnub.github.io/angular-js/scripts/pubnub-angular.js"></script>
    
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="scripts/Users.js"></script>
    <script src="scripts/UsersController.js"></script>
    <script src="scripts/UsersDataservice.js"></script>
    
    <script src="scripts/bizchatServices.js"></script>
    <script src="scripts/app.js"></script>
</body>    

</html>