<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BizChat</title>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="style/app.css">
</head>

<body ng-app="BizChat" layout="column" ng-controller="UserController as ul"> 
    
    <md-toolbar layout="row" class="layout-row md-primary">
        <h3>Bizchat</h3>
    </md-toolbar>
    
    <div flex layout="row">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2 md-primary">
<!--
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="u in ul.users">
                    <md-button  ng-click="ul.selectUser(u)" ng-class="{'selected': u === ul.selected}">
                        <md-icon md-svg-src="{{u.avatar}}" class="avatar"></md-icon>
                         {{u.name}}
                    </md-button>
                <md-divider ng-if="! $last"></md-divider>
                </md-list-item>
            </md-list>
-->
            <md-list  ng-controller="SideBarCtrl">
                <md-list-item id='list-item'>
                    <p><a href='index.html'>PEOPLE</a></p>
                </md-list-item>
                
                <md-list-item id='list-item'>
                    <p><a href="group.html">GROUPS</a></p>
                </md-list-item>
                
                <md-list-item id='list-item'>
                    <p><a href="people.html">RECENT</a></p>
                    
                </md-list-item>
                
                <div>
                        <md-list class='recent-list' ng-repeat="u in ul.users">
                            <md-list-item ng-click="ul.selectUser(u)" ng-class="{'selected': u === ul.selected}">
                                <div class="md-recent-thumbs">
<!--                                    <div style="background-image:url({{u.avatar}})"></div>-->
                                    <md-icon md-svg-src="{{u.avatar}}" class="avatar"></md-icon>
                                </div>
                                
                                <div class="recent-list-name">{{u.name}}</div>
                                <span class="msg-alert">
                                    <span class="msg-num">{{u.alert}}</span>
                                </span>
                                
                            </md-list-item>
                        </md-list>
                        
                    </div>
                
            </md-list>
            
        </md-sidenav>
        
        <md-content flex id="content" class="flex" ng-controller="AppCtrl">
           
            <md-card class="msg-box">
                <div layout="row">
                    <div flex="100">
                        <md-icon id="msg-pane" md-svg-src="{{ul.selected.avatar}}" class="avatar"></md-icon>
                        <span class="bold">{{ul.selected.name}}</span>
                    </div>
                </div>
                <p class="msg-text">{{ul.selected.content}}</p>
            </md-card>
            
            
            <md-bottom-sheet class="md-grid" layout="column" ng-cloak>
                <div layout="row" layout-align="center center">
                    <md-input-container>
                        <textarea ng-model="user.description"></textarea>
                    </md-input-container>
                    <md-input-container>
                        <md-button ng-click="send()">SEND</md-button>
                    </md-input-container>
                </div>
            </md-bottom-sheet>
        </md-content>
        
            
    </div>
    
    
    
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="scripts/Users.js"></script>
    <script src="scripts/UsersController.js"></script>
    <script src="scripts/UsersDataservice.js"></script>
    <script src="scripts/app.js"></script>
</body>    

</html>