md-icon.avatar{
    margin-right: 20px;
}

.avatar{
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin: 0;
    vertical-align: middle;
}

#msg-pane{
    margin-right: 0;
}

.msg-container{
    background-color: #fff;
    padding: 20px;
}

.msg-box{
    padding:10px;
    margin:3px;
}

.msg-text{
    font-size:0.85em;
/*    font-weight: 400;*/
    line-height: 1.3;
    margin-top:0;
    margin-bottom: 0;
}

md-list-item > button{
    width: 100%;
    text-align: left !important;
    height: 70px;
}

md-toolbar{
    min-height: 45px;
}

md-toolbar h3{
    margin: 5px 20px; 
}

.time-font{
    font-size: 12px;
    font-weight: bold;
    color: #777;
}

#content{
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    background-color: #F5FAFC;
}

.content-toolbar{
    background: #F5FAFC !important;
    position: fixed;
    color: #454545 !important;
    margin: 0px 40px;
    border-bottom: 1px solid #ccc
}

md-bottom-sheet{
    padding: 0;
    z-index: 1;
    position: fixed;
    bottom: 50px
}

.container-overflow{
/*    margin-bottom: 10px;*/
    margin-top: 10px;
    overflow: scroll;
    height: 55vh;
}

 md-sidenav{
/*     background: #f1f8e9;*/
     width: 305px;
     padding-top: 30px;
}

#list-item{
    color: #009688;
    margin-left: 5px
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

#list-item:hover{
    opacity: 0.7;
    background: #f9fcf6;
    cursor: pointer;
}

#list-item p{
    padding-left: 10px;
}

.ng-icon-top{
    padding-top: 5px;
}

.bottom-margin{
    margin-bottom: 80px;
}

/*Angular Material Table*/

a {
  text-decoration: none;
  color: #5A5A5A;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position: absolute;
  z-index: 20;
  font-size: 30px;
  top: 100px;
  left: 24px;
  transform: scale(.88, .88);
}

.md-breadcrumb {
  padding-left: 88px;
}

.JCLRgrip:first-child {
  left: 105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 98%;
  border-collapse: collapse;
}

.md-table tbody tr:hover,
.md-table tbody tr:focus {
  cursor: pointer;
  background-color: rgba(63, 81, 181, 0.2);
}

.md-table-header {
  border-bottom: 2px solid rgb(230, 230, 230);
  border-top: 2px solid rgb(230, 230, 230);
/*  color: rgb(130, 130, 130);*/
    color: #eee;
  background: #eee;
  text-align: left;
  font-size: 1em;
  font-weight: 700;
/*  padding: 16px 16px 16px 0;*/
/*
  background: -webkit-linear-gradient(#ccc, #eee);
  background: -o-linear-gradient(#ccc, #eee);
  background: -moz-linear-gradient(#ccc, #eee);
  background: linear-gradient(#ccc, #eee);
*/
}
}

.md-table-header a {
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
/*  padding: 10px 16px 10px 0;*/
/*  height: 72px;*/
  border-bottom: 1px solid rgb(230, 230, 230);
}

.md-table-td-more {
  max-width: 72px;
  width: 72px;
  padding: 16px;
}

.md-table-thumbs {
  max-width: 104px;
/*  width: 104px;*/
  padding: 5px 0px;
}

.md-table-thumbs div {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
}

.md-table-footer {
  height: 40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height: 40px;
  font-size: .75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.md-table-active-page {
  font-weight: 700;
}


.md-recent-thumbs div {
  overflow: hidden;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  margin-right: 10px;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
  
}

.md-chat-thumbs div {
  overflow: hidden;
  width: 25px;
  height: 25px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  margin-left: 2px;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
  
}

.sidenav-user{
    display: flex;
}

.recent-container{
    margin-top: 50px;
    padding-left: 1em;
    display: flex;
}

.sidenav-user-name{
    padding-top: 25px;
    color: #009688;
}

.sidenav-user-avail{
    color: #999;
    margin: 0;
}

.md-user-thumbs {
    padding: 15px;
}

.md-user-thumbs div {
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-size: cover;
  box-shadow: 0 8px 10px rgba(0, 0, 0, .3);
  margin-right: 10px;
  -webkit-box-shadow: 0 8px 10px rgba(0, 0, 0, .1);
  
}

md-list .recent-list{
    padding: 0;
}

.recent-list-name{
    font-size: 0.8em;
    font-weight:400;
    color: #9a9a9a;
    width: 80%;
}

.msg-alert{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00ACC1;
    color: #fff;
}

.msg-num{
    font-size: 0.65em; 
    padding: 10px
}

.msg-notifier{
    background: #009688;
    color: #f1f1f1;
}

.bold {
  font-weight: 700;
}

.text-right{
    text-align: right;
}

.recent-heading{
    margin-top: 8px;
    margin-bottom: 2px;
    padding-left: 2px;
}

.grey {
  color: grey;
}

md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}

md-menu-bar button{
    background-color: #009688;
    color: #FEFEFE;
    margin: 10px 0px 10px 10px;
}

/*End of angular material table*/

:focus{
    outline: none;
}
