<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create Room</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Room name</label>
            <input ng-model="user.firstName">
          </md-input-container>
      </div>
      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>description</label>
            <textarea columns="1" maxlength="150" rows="5"></textarea>
          </md-input-container>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
<!--
      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
        More on Wikipedia
      </md-button>
-->
      <span flex></span>
      <md-button class="md-raised md-primary edgePadding" ng-click="answer('not useful')">
       Create Room
      </md-button>
      <md-button ng-click="answer('useful')" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>